# ============================================================
# PostgreSQL
# ============================================================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=omdb

# ============================================================
# Airflow (UI em http://localhost:8080)
# ============================================================
AIRFLOW_USER=admin
AIRFLOW_PASSWORD=admin

# Chaves compartilhadas entre api-server e scheduler (Airflow 3.x)
# Em produção, podemos gerar novas com: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
AIRFLOW_FERNET_KEY=B8vJxMIWE9y2lsIuvRHwaq1It3fjzSo188lzlMgOI2Y=
AIRFLOW_SECRET_KEY=omdb-grupo7-api-secret-2026
AIRFLOW_JWT_SECRET=omdb-grupo7-jwt-secret-key-2026

# ============================================================
# Metabase (UI em http://localhost:3000)
# ============================================================
METABASE_USER=admin@omdb.local
METABASE_PASSWORD=Admin123!
